
html {
    
    
  }
  body {
    text-align: center;
    font: 400 16px "VT323", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: url("Images/Project1.png");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
  }


.container{
    border-radius: 5%;
    border-color:black;
    background: url("Images/quote.png");
    background-size:cover;

    position: relative;
    left: 33%;
    margin-top: 310px; 
    width: 650px;  
    height: 450px; 
}

.project_title{
    background-color: white;
    border-radius: 2%;
    border-top: solid black;
    border-bottom: solid black;

    position: absolute;
    top:5%;
    

    padding:7px 0;
    width: 100%;
    
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.1em;
    color:black;  
    font-family: "Lily Script One";   
}

.quote{
    position:absolute;
    top: 20%;
    left: 10%;
    
    font-weight: 80;
    line-height: 1.4;
	font-size: 1.3em;
    font-family: 'Special Elite', cursive;
    text-align: center;
    letter-spacing: 2px;

    padding-top:25px;
    width: 80%;
    margin: 60px auto;   
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: black;
	font-size: 5rem;
	width: 4rem;
	height: 6rem;
}

blockquote:before {
	content: '“';
	left: -2rem;
	top: -1rem;
}

blockquote:after {
	content: '”';
	right: -2rem;
	bottom: 1rem;
}

cite {
	line-height: 3;
	text-align: left;
}


  



  .btn {
    position:absolute;
    bottom: 5%;
    right: 5%;

    font-family: sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: transparent;
    padding: 15px 50px;
    border-radius: 5rem;
    box-shadow: 1px 2.9px 16px rgba(27, 139, 249, 0.4);
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
  }
  .btn:hover {
    box-shadow: 3px 4.9px 16px rgba(27, 139, 249, 0.6);
    letter-spacing: 5px;
  }
  .btn--clicked {
    transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    padding: 15px 2px;
    width: 50px;
    color: transparent;
    z-index: -10;
  }
  
  .color {
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 0.8s ease;
    border-radius: 50%;
    background-color: transparent;
  }
  
  .expanded {
    width: 410%;
    padding-bottom: 200%;
    height: 200%;
  }
  
  .color--blue {
    background-color: #315c87;
    transition-delay: 0.25s;
  }
  
  .color--orange {
    background-color: #19c2ff;
    transition-delay: 0.5s;
  }
  
  .color--green {
    background-color: #164457;
    transition-delay: 0.75s;
  }
  
  .color--white {
    background-color: #8d494a;
    transition-delay: 1s;
  }
